@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
*{
	max-width: 640px;
	font-family: 'Open Sans', sans-serif;
}
body{
	max-width: 460px;
	margin: 0 auto;
	margin-top: 60px;
	}
h1{
	color: #453C52;
	font-size: 20px;
	margin-bottom: 12px;
}
.AddTodo{
	display: inline-flex;
}
.AddTodo-title{
	padding: 6px 12px;
	border-radius: 4px;
	width: 190px;
	height: 32px;
	border:1px solid #bfb8cc ;
	font-size: 14px;
}
.AddTodo-date{
	padding: 6px 12px;
	border-radius: 4px;
	width: 93px;
	height: 32px;
	margin-left: 10px;
	border:1px solid #bfb8cc ;

}
.AddTodo-button{
	border-radius: 4px;
	background-color: #48BB78;
	color: white;
	width: 72px;
	height: 32px;
	margin-left: 11px;
	border:none;
	cursor: pointer;
}
.TodoSection{
	margin-top: 24px;
}
.TodoSection-title{
	display: flex;
	align-items: center;
	color: #453C52;
}
.TodoSection-title h2{
	margin: 8px;
	font-size: 16px;
}
.TodoSection-title p{
	margin: 8px;
	font-size: 12px;
}
ul{
	list-style: none;
	padding-left: 10px;
	margin: 0px;
	border:none;
}
.TodoItem-container{
	display: inline-flex;
	align-items:center;
	margin-bottom: 5px;
	height: 30px;
}
.TodoItem-container a{
	margin-right: 10px;
	visibility: hidden;
	width: 16px;
	height: 16px;
	align-items: center
}
.TodoItem-container a:hover{
	visibility: visible;
}
.TodoItem:hover{
	background-color: #F1EDF7;
	transition: 0.4s;
	border-radius: 4px;
	width: max-content;
}
.TodoList-checkbox{
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border:1px solid #bfb8cc;
	font-size: 16px;
}
.TodoItem-text{
	font-size: 14px;
	font-weight: 400;
	margin-left: 8px;
}
h5{
	font-weight: lighter;
	font-size: 12px;
	margin-left: 10px;
}
.TodoItem p{
	color: #C53030;
	font-size: 12px;
	margin-left: 10px;
}
